body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.form-container {
  width: 390px;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.Success-text {
  font-family: sans-serif;
  color: blue;
  font-size: 30px;
}

.form-field {
  padding: 15px;
  margin: 10px 10px 0;
  border-radius: 10px;
  font-family: "roboto" sans sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

button {
  background: green;
  color: white;
  cursor: pointer;
  border-radius: default;
}

button:disabled {
  cursor: default;
}
